* {
    margin: 0;
    padding: 0;
  }
  
  .cart-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три колонки равной ширины */
    gap: 20px;
    width: 1200px;
    margin: auto;
    object-fit: contain;
  }
  
  .heading {
    text-align: center;
  }
  
  h2 {
    color: #9F9F9F;
  }
  
  .bodyContent {
    overflow: hidden;
    width: 360px;
    height: 587px;
    background-color: #efeeec5e;
    position: relative; /* Добавлено для позиционирования кнопки */
  }
  
  .item__content {
    padding-left: 10px;
  }
  
  .other {
    color: #5D5D5D;
  }
  
  .price {
    color: #F16D7F;
  }
  
  img {
    height: 420px;
    transition: filter 0.3s;
    object-fit: contain;
    overflow: hidden; 
    position: relative;
    object-position: center; 

      max-width: 100%;
      max-height: 100%; 
      object-fit: contain;
      object-position: center; 
   
 
  margin: auto;
  }
  
  .bodyContent:hover img {
    filter: brightness(70%);
  }
  
  .add-cart {
    
    padding: 64px;
  }
  
  .item {
    padding-top: 2px;
    height: 360px;
    width: 650px;
    box-shadow: 17px 19px 24px rgba(0,0,0,0.13); 
    display: flex;
    overflow: hidden;
    
  }
  
  .imgPay {

      max-width: 100%; 
      max-height: 100%; 
      object-fit: contain;
      object-position: center; 
   
  width: 1200px;
  margin: auto;
    
  }
  
  .item_content {
    padding-left: 22px;
    padding-top: 20px;
    background-color: white;
  }
  
  .item_heading {
    width: 262px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: black;
    margin-bottom: 42px;
  }
  
  .item_text {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    margin-bottom: 6px;
  }
  
  .item_input {
    width: 44px;
    height: 24.95px;
    border: 1px solid #EAEAEA;
    text-align: center;
    padding-left: 8px;
    box-sizing: border-box;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    color: #656565;
    margin-left: 24px;
  }
  
  .item_prColor {
    color: #F16D7F;
  }
  
  .buttonRem {
    width: 44px;
    height: 44px;
    background-color: white;
    border: #EAEAEA;
    font-size: 20px;
    padding: 10px 20px;
  }
  
  /* Стили для кнопки */
  .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  .bodyContent:hover .button {
    display: block;
  }
  